$primary: #38ad2e ;
$secondary: #bf7bf0 ;
$success: #38a030 ;
$info: #4bc5fe ;
$warning:#ffda36 ;
$danger:#e31e1e ;
$light:#e6e6e9 ;
$dark:#ffa640 ;

$theme-colors: (
    "primary" : $primary,
    "secondary" : $secondary,
    "success" : $success,
    "info" : $info,
    "warning" : $warning,
    "danger" : $danger,
    "light" : $light,
    "dark" : $dark
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";